@font-face {
    font-family: satoshi;
    src: url("../assets/font/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf");
}

* {
    background-color: black;
    color: white;
    margin: auto;
    font-family: satoshi;
    padding: 0;
}

body {
    background-color: #000000;
}

.profil {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 20px;
    gap: 20px;
}

.imgBig img {
    width: 450px;
    display: flex;
    margin-top: 155px;
    margin-left: 96px;
}

.loadingBar {
    margin-left: 80px;
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 10px;
}

.wrapLoad {
    margin: 0;
    width: 560px;
    display: flex;
    gap: 350px;
    margin-top: 10px;
    margin-right: 10px;
}


.loading {
    width: 550px;
    height: 40px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: none;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.loading1 {
    width: 189px;
    height: 35px;
    background-color: white;
    border-radius: 30px;
    background-color: none;
    margin: 0;

}

.wraper {
    margin: 0;  
    width: 100%;
    display: flex;
    border: 1px solid white;
    padding-left: 50px;
}

.kontenKiri {
    margin: 0;
    /* border:1px solid white; */
    width: 50%;
    /* border: 1px solid white; */
}

.kontenKanan{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
}

.taskKonten{
    width: 70%;
    height: 70%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-left: 100px;
}

.headTask{
    border-radius: 20px;
    width: 100%;
    display: flex;
    gap: 250px;
    /* border: 1px solid white; */
}

.tugas_aktif{
    width: 100%;
    flex-direction: row;
    /* border: 1px solid white; */
    margin-top: 50px;
}

.list{
    display: flex;
    width: 90%;
    flex-direction: row;
    border:1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.complete_list{
    display: flex;
    width: 90%;
    flex-direction: row;
    border:1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleTask2{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    width: 30%;
}
.addTask{
    display: flex;
    width: 10%;
    /* border: 1px solid white; */
}

.taskButton{
    width: 80%;
    border:1px solid white;
    border-radius: 20px;

}




    